<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">

    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
    <meta name="userId" th:content="${userId}" />
    <meta name="currentUserLogin" th:content="${userLogin}" />

    <title>Статьи</title>

    <link rel="stylesheet" th:href="@{/css/home.css}"/>
</head>
<body>
    <a>Это страница статей</a>
</body>
</html>