<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Авторизация</title>

    <link rel="stylesheet" th:href="@{/css/login.css}"/>

</head>

<body>

<div class="login-container">
    <form th:action="@{/login}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <div class="form-group">
            <label for="userLogin">Логин</label>
            <input type="text" id="userLogin" name="username" autocomplete="username" placeholder="Введите логин" required/>
        </div>

        <div class="form-group">
            <label for="userPassword">Пароль</label>
            <input type="password" id="userPassword" name="password" autocomplete="current-password" placeholder="Введите пароль" required>
        </div>

        <button type="submit" class="btn-login">Войти</button>
    </form>

    <div class="register-link">
        Нет аккаунта? <a th:href="@{/register}">Зарегистрироваться</a>
    </div>
</div>

</body>

</html>